
.password_feedback
  font-size: calc(3vw + .7em)
  font-weight: 900
  text-align: center
  margin-bottom: .4em
  &.secure
    color: $green
  &.medium
    color: $orange
  &.weak
    color: $red

//----------- MAIN BOX ----------------

.main_box
  height: calc(100vh - 23em)
  //height: 200px;
  background-color: white
  overflow: auto
  @include transform (translateY(-5.7vw))
  @include transitionn (height 300ms ease, transform 272ms ease)
  //@include transition_default
  &.with_feedback
    height: calc(100vh - 29em)
    @include transform (translateY(0))
    @include transitionn (height 300ms ease, transform 272ms ease)
    //@include transition_default
  .main_text
    color: $secondarycolor
    font-size: calc(2.5vh + 2vw + 2em)
    font-weight: bold
    padding: 3.5vw 16vw 2vw 4vw
    margin: 0
    &.tip
      font-size: calc(1.5vh + 1vw + 1.5em)
  &.main_box_finished
    height: calc(100vh - 7.7em)
    


@media (max-width: $media1) and (orientation: landscape)

  .main_box
    .main_text
      font-size: calc(5vh + 2.3em)
      padding: 1em 3em 1em 1em


@media (max-width: $media2)

  .main_box
    .main_text
      font-size: calc(4vh + 2em)
      padding: 1em 2em 1em 1em
   

@media (max-width: $media4) and (orientation: landscape)

  .main_box
    .main_text
      font-size: calc(4vh + 2em)
      padding: 1em 2em 1em 1em


@media (max-width: $media6) and (orientation: landscape)

  .main_box
    height: calc(100vh - 8.3em)
    .main_text
      font-size: calc(2vh + 2em)
      padding: .8em 3em .8em 1em
    &.main_box_finished
      height: calc(100vh - 6.7em)


@media (max-width: $media7) and (orientation: landscape) //iPhoneX

  .main_box
    &.main_box_finished
      height: calc(100vh - 4.7em)


@media (max-width: $media8)

  .main_box
    .main_text
      font-size: calc(3vh + 2em)
      padding: 1em 2em 1em 1em


@media (max-width: $media9)

  .main_box
    height: calc(100vh - 9em)
    &.main_box_finished
      height: calc(100vh - 4.1em)



@media (max-width: $media9) and (orientation: landscape)

  .main_box
    height: calc(100vh - 8em)
    .main_text
      font-size: calc(2.5vh + 1.7em)
      padding: .7em 2.5em .7em 1em
    &.main_box_finished
      height: calc(100vh - 4.7em)



@media (max-width: $media10) and (orientation: landscape)

  .main_box
    .main_text
      font-size: calc(2vh + 1.5em)
      padding: .8em 3em .8em 1em


@media (max-width: $media12)

  .main_box
    .main_text
      font-size: calc(3vh + 1.2em)
      padding: .8em 2.2em .8em 1em


@media (max-width: $media13)

  .main_box
    .main_text
      font-size: calc(3vh + 1.2em)
      padding: .8em 1.2em .8em 1em



@media (max-width: $media14)

  .main_box
    .main_text
      font-size: calc(3vh + 1em)
      padding: .7em 2em .7em 1em

      
